package {{.Package}}

import (
	"context"

	"github.com/jackc/pgx/v5"
{{- if not .HasCustomRegistry}}
	"go.inout.gg/conduit"
{{- end}}
	"go.inout.gg/conduit/conduitmigrate"
)

var m{{.Version}} = conduitmigrate.New(&conduitmigrate.Config{}) //nolint:gochecknoglobals

//nolint:gochecknoinits
func init() {
{{- if .HasCustomRegistry}}
	Registry.Up(up{{.Version}})
	Registry.Down(down{{.Version}})
{{- else}}
	conduit.Up(up{{.Version}})
	conduit.Down(down{{.Version}})
{{- end}}
}

func up{{.Version}}(ctx context.Context, conn *pgx.Conn) error {
    //nolint:wrapcheck
	return m{{.Version}}.Up(ctx, conn)
}

func down{{.Version}}(ctx context.Context, conn *pgx.Conn) error {
    //nolint:wrapcheck
	return m{{.Version}}.Down(ctx, conn)
}
