// migration: {{.Version}}_{{.Name}}.go

package {{.Package}}

import (
	"context"

	"github.com/jackc/pgx/v5"
{{- if not .HasCustomRegistry}}
		"go.inout.gg/conduit"
{{- end}}
)

//nolint:gochecknoinits
func init() {
{{- if .HasCustomRegistry}}
	Registry.UpTx(up{{.Version}})
	Registry.DownTx(down{{.Version}})
{{- else}}
	conduit.UpTx(up{{.Version}})
	conduit.DownTx(down{{.Version}})
{{- end}}
}

func up{{.Version}}(ctx context.Context, tx pgx.Tx) error {
	return nil
}

func down{{.Version}}(ctx context.Context, tx pgx.Tx) error {
	return nil
}
